.hotels-type {
    height: 90px;
    background-color: #ff0066;
    margin-right: 5px;
    color: white;
    font-size: 25px;
    padding: 10px;
}

.fa-star {
    color: #ffff66;
}

.search-result {
    margin-right: -8px;
}

@media only screen and (max-width: 920px) {
    .hotels-type .far, .fas, .pr-1, span {
        font-size: 12px;
    }

    .hotels-type div:last-child {
        margin-top: 20px;
    }

    .search-result {
        margin-top: 6px;
    }
}