.nav-footer {
    background-color: #353f48;
    color: white;
}

.social-net, .copyright {
    margin: 20px 0;
}

.social-net i {
    font-size: 30px;
    margin-right: 15px;
}

@media only screen and (max-width: 768px) {
    .social-net i {
        font-size: 20px;
    }

    .nav-footer {
        margin-top: 200px;
    }
}