.search-panel {
    background-color: #00ace6;
    margin: 40px 8px;
    padding: 10px;
}

.input-group-addon {
    background-color: white;
    color: #00ace6;
}

.checkbox-panel {
    margin: 12px 0;
}

input[type="checkbox"], input[type="radio"] {
    width: 20px;
    height: 20px;
}

.form-check-label {
    color: white;
}

.addon {
    border: 1px solid grey;
}

.input-group.addon {
    width: 100%;
    box-shadow: -1px -1px rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 1200px) {
    .input-group-addon {
        font-size: 12px;
    }

    .search-container {
        flex-direction: column;
    }
}


